@using MauiBlazorDemoApp.Data
@inject SkolplattformenService SkolplattformenService

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">MauiBlazorDemoApp</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		

		@if(SkolplattformenService.IsLoggedIn){

		    <div class="nav-item px-3">
                <NavLink class="nav-link" href="today">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Idag
                </NavLink>
            </div>


		    <div class="nav-item px-3">
                <NavLink class="nav-link" href="teachers">
                    <span class="oi oi-people" aria-hidden="true"></span> Lärare
                </NavLink>
            </div>

		    <div class="nav-item px-3">
                <NavLink class="nav-link" href="newslist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Nyheter
                </NavLink>
            </div>



		    <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Info
                </NavLink>
            </div>
		}
		else
		{
		    <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Login
                </NavLink>
            </div>
		}
		



	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
